@import url(https://fonts.googleapis.com/css?family=Raleway);

html {
  background: linear-gradient(180deg,
      #ffffff 0%,
      #f5bf8e 28.1%,
      #bd8451 62.58%,
      #603813 100%);
}

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: transparent;
  background-repeat: no-repeat;
}

::selection {
  background: #fcbd80;
  /* WebKit/Blink Browsers */
}

h3 {
  margin: 0;
  padding: 0;
}

.bubbles {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn ease 1s;
}

.raccoon-bubbla {
  background-image: url("src/assets/raccoon-bubble.svg");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 50px 230px 110px;
}

.raccoon-text {
  padding: 38px 45px 60px 90px;
  color: #505050;
  transform: rotate(-7deg);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}

.raccoon-text-alright {
  padding: 58px 60px 60px 90px;
  color: #505050;
  transform: rotate(-7deg);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}

.raccoon-text-good-choice {
  padding: 58px 60px 60px 90px;
  color: #505050;
  transform: rotate(-7deg);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}

.user-bubbla {
  background-image: url("src/assets/user-bubble.svg");
  width: 340px;
  height: 340px;
  background-repeat: no-repeat;
  background-size: contain;
  color: #505050;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1em;
  margin: 0 0 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1em;
}

.user-form {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin-top: 80px;
  margin-right: 50px;
}

.save-name {
  position: relative;
  margin-top: 30px;
  margin-right: 50px;
  border: none;
  background: #603813;
  text-align: center;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 1em;
  padding: 7px 13px 7px 13px;
  font-weight: lighter;
  border-radius: 4px;
  color: #ffffff;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.save-name:hover {
  background: #d08228;
  color: #ffffff;
}

.the-usual {
  position: relative;
  margin-top: 5px;
  margin-right: 50px;
  border: none;
  background: #603813;
  text-align: center;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 1em;
  padding: 10px 16px 10px 16px;
  font-weight: lighter;
  border-radius: 4px;
  color: #ffffff;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
}

.the-usual:hover {
  background: #d08228;
  color: #ffffff;
}

.input-name {
  margin-bottom: 5px;
  border: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 1em;
  color: #505050;
  background: transparent;
  box-shadow: inset 0px -1px 1px rgba(0, 0, 0, 0.25);
}

.input-surname {
  margin-top: 5px;
  border: none;
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: lighter;
  font-style: normal;
  font-size: 1em;
  margin-top: 5px;
  border: none;
  text-align: center;
  color: #505050;
}

#food-container {
  display: block;
  position: absolute;
  width: 320px;
  height: 55px;
  left: 50%;
  top: 50%;
  margin-left: -160px;
  margin-top: -87px;
}

/* Select style here */

select {
  margin-top: 80px;
  margin-right: 50px;
  color: #603813;
  width: 170px;
  padding: 15px;
  height: 25px;
  cursor: pointer;
  outline: none;
}

select:hover {
  background-color: transparent;
  color: white;
  padding: 15px 5px 15px 25px;
}

select option {
  background-color: white;
  color: gray;
  width: 170px;
  padding: 10px 15px;
  height: 20px;
  cursor: pointer;
}

select option:hover {
  padding-left: 25px;
  width: 170px;
  color: #603813;
}

.food-quote {
  margin-left: 15px;
  width: 150px;
  font-size: 0.8em;
  font-family: "Raleway", sans-serif;
}

.raccoon-bubbla-again {
  background-image: url("src/assets/raccoon-bubble.svg");
  width: 300px;
  height: 300px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 50px 230px 110px;
}

.raccoon-text-again {
  padding: 38px 45px 60px 90px;
  color: #505050;
  transform: rotate(-7deg);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}

.never-been-here {
  position: relative;
  margin-top: 76px;
  margin-left: 13px;
  margin-right: 60px;
  border: none;
  background: #603813;
  text-align: center;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-size: 1em;
  padding: 10px 17px 10px 17px;
  font-weight: lighter;
  border-radius: 4px;
  color: #ffffff;
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  transform: scale(.8);
}

.never-been-here:hover {
  background: #d08228;
  color: #ffffff;
}

.hi-again {
  background-image: url("src/assets/raccoon-bubble.svg");
  width: 220px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 50px 230px 110px;
  padding: 0 10px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
}

.hi-again-text {
  color: #505050;
  transform: rotate(-7deg);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  padding: 10px 20px 105px 45px;
}

.user-bubbla-again {
  background-image: url("src/assets/user-bubble.svg");
  width: 340px;
  height: 340px;
  background-repeat: no-repeat;
  background-size: contain;
  color: #505050;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: lighter;
  font-size: 1em;
  margin: 0 0 30px 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 1.1em;
}

.raccoon-text-good-choice-lastest {
  margin-top: 20px;
  margin-right: 20px;
  padding: 30px 10px 20px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;

  color: #505050;
  transform: rotate(-7deg);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.1em;
  padding: 10px 20px 105px 45px;
}

.background {
  background-image: url("src/assets/background.svg");
  border: 4px solid #603813;
  border-radius: 100px;
  height: 100vh;
  background-position: bottom;
  background-repeat: no-repeat;
  width: 1440px;
  height: 775px;
  background-size: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  justify-self: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  animation: moveIn ease 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes moveIn {
  0% {
    transform: translate(0, 0);
  }

  25% {
    transform: translate(0, 50px);
  }

  50% {
    transform: translate(0, 25px);
  }

  75% {
    transform: translate(0, 50px);
  }

  100% {
    transform: translate(0, 0px);
  }
}
